repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: pretty-format-json
        name: pretty format json
        args: ["--autofix", "--indent", "4", "--no-sort-keys"]
      - id: check-json
        name: check json
        types: [json]
      - id: check-yaml
        name: check yaml
      - id: end-of-file-fixer
        name: add new line to end of file
      - id: trailing-whitespace
        name: remove trailing whitespace
      - id: name-tests-test
        name: tests start with test_*
        args: ["--django"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort
        args: ["--profile=black"]

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        name: black
        language: python
        entry: black
        types: [python]

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        name: flake8
        args: ["--ignore=E402", "--max-line-length=88"]
